.box {
	background: #6CAFFD;
    height: auto;
    padding-bottom: 100px;
}

.box .container .text-right a:hover{
    text-decoration: none;
}
#font ul li a{
	color: #fff;
}
#font ul li a:hover{
	background: rgba(173,216,230,.2);
}
#menu-nav{

	position: absolute;
	z-index: 222;
}
.navbar-toggle span{
	background: #FFF;
}
.box .container .text-right a{
	border:1px solid #FFF;
	border-radius: 7px;
	padding: 6px;
	color: #fff;
	text-decoration: none;
}

.box .container .text-center{
	color: #fff;
}

.box .container .row img:hover{
	-webkit-filter: blur(3px);
    filter: blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    transition: all 2s ease;
	-ms-transition:all 2s ease;
	-o-transition:all 2s ease;
	-webkit-transition:all 2s ease;
}
.box-one {
	background: #fff;
	height: auto;
	padding-bottom: 70px;
}
#caption-1{
	background: #FFF;
	width:290px;
	height: 220px;
	box-shadow: 1px 2px 5px  #000;
	border-top: 5px solid #6CAFFD;
}
.box-two{
	padding:15px;
}
.box-three{
    background: #6CAFFD;
    height: auto;
    padding-bottom:20px;
}
.text-justify{
	margin-left: 20px;
}
.text-justify a{
	color: #000;
	font-family: "宋体";
}
.picture{
	width: 320px;
	margin-left: 50px;
}
.box-three a{
	color: #fff;
	margin-left: 10px;
}
.box-three a:hover{
	text-decoration: none;
}
.foot-box-2{
	color: #fff;
}
.box-three .container{

	padding-top: 40PX;
}
.foot-box-2{
	padding-top: 10px;
}
@media screen and (max-width: 700px){
#bg{
     height: 350px;
}
}
@media screen and (max-width: 700px){
	.picture{
		margin-left: 20px;
	}
}
@media screen and (max-width: 700px){
	#font{
		background: #6CAFFD;
	}
}